@media screen{

  .avatar{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background: red;
    background: url('../img/default_avatar-01.png') no-repeat;
    background-size: auto 100%;
  }
  
  .tasklist{



  }

  .taskitem{
    border-bottom: solid 1px #eee;
    background: #fff;
  }
  .taskitem:hover, .taskitem.active{
    background: #f5f5f5;
  }

  .taskform{
    opacity: 0;
  }
  .taskform.active{
    border-color: #ccc;
    opacity: 1;
  }

  #popup-task-new{

  }
  #popup-task-new .popup-task-new-item{
    padding: 10px 15px;
  }
  #popup-task-new .popup-task-new-item:hover{
    background: #f5f5f5;
  }

  .wrapper{

    width: 95%;
    max-width: 1365px;
    margin: 0 auto;

  }

  .filter-status{
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
  }
  
  .filter-status-new,
  .filter-status-scheduled,
  .filter-status-onprocess,
  .filter-status-completed {
    background: #eee;
    color: #fff;
  }

  .filter-status-new.active{
    background: #00a651;
  }
  .filter-status-scheduled.active{
    background: #00aeef;
  }
  .filter-status-onprocess.active{
    background: #f26522;
  }
  .filter-status-completed.active{
    background: #231f20;
  }

  .bg-task-new{
    background: #00a651;
    color: #fff;
  }
  .bg-task-scheduled{
    background: #00aeef;
    color: #fff;
  }
  .bg-task-onprocess{
    background: #f26522;
    color: #fff;
  }
  .bg-task-completed{
    background: #231f20;
    color: #fff;
  }

  .hover-cl-task-new:hover{
    color: #00a651;
  }

  .debugbar{
    position: fixed;
    bottom: 0;
    right: 0;
    background: #333;
    color: #fff;
    padding: 8px;
  }

}