@media screen{

  .autocomplete{

    border: solid 1px #eee;
    background: #fff;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;

  }

  .autocomplete input{

    border: none;
    padding: 8px;
    background: transparent;
    vertical-align: middle;

  }

  .autocomplete>.text{
    padding: 8px;
    background: #eee;
    margin: 1px;
    vertical-align: middle;
    position: relative;
  }
  .autocomplete>.text .icon-remove{
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 2px;
    display: none;
    background: red;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: .8em;
  }
  .autocomplete>.text:hover .icon-remove{
    display: block;
  }

  .autocomplete .icon{

    color: #aaa;
    cursor: pointer;
    background: transparent;
    vertical-align: middle;
    padding: 8px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;

  }

  .autocomplete .popup .item{

    padding: 8px;
    text-align: left;

  }

  .autocomplete.no-border{
    border-color: transparent;
  }

  .autocomplete.readonly .fa{
    display: none;
  }

}