@media screen{

  #calendar{
    padding: 8px;
  }

  #calendar table{
    display: inline-block;
    vertical-align: top;
  }
  #calendar td{
    padding: 3px;
    text-align: center;
    cursor: pointer;
  }
  #calendar td.active{
    background: #eee;
  }

}