@media screen{

  .chart{

    background: #fff;
    display: inline-block;
    position: relative;
    
  }

  .chart canvas{
    margin: 15px;
  }

  .chart.state1{
    background: red;
  }
  .chart-bg{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1;
    text-align: center;
  }

}