@media screen{

  .codefield{
    background: #f5f5f5;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  .codefield pre{
    font-family: monospace;
  }

}