@media screen{

  .cont12{
    display: flex;
    flex-wrap: wrap;
  }

  .cont-debug{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #000;
    color: #fff;
  }

  .cont{
    white-space: nowrap;
  }
  .cont>*{
    display: table-cell;
  }
  .cont .stretch{
    width: 100%;
  }

}

@media screen and (min-width: 1024px){

  .cont12>.lg1{
    flex-basis: 8.33%;
  }
  .cont12>.lg2{
    flex-basis: 16.66%;
  }
  .cont12>.lg3{
    flex-basis: 25%;
  }
  .cont12>.lg4{
    flex-basis: 33.33%;
  }
  .cont12>.lg6{
    flex-basis: 50%;
  }
  .cont12>.lg7{
    flex-basis: 58.33%;
  }
  .cont12>.lg8{
    flex-basis: 66.67%;
  }
  .cont12>.lg9{
    flex-basis: 75%;
  }
  .cont12>.lg10{
    flex-basis: 83.33%;
  }
  .cont12>.lg11{
    flex-basis: 91.16%;
  }
  .cont12>.lg12{
    flex-basis: 100%;
  }

  .cont12.space10{
    padding: 5px;
  }
  .cont12.space10>.lg12{
    margin: 5px;
    flex-basis: calc(100% - 10px);
  }
  .cont12.space10>.lg11{
    margin: 5px;
    flex-basis: calc(91.66% - 10px);
  }
  .cont12.space10>.lg10{
    margin: 5px;
    flex-basis: calc(83.33% - 10px);
  }
  .cont12.space10>.lg9{
    margin: 5px;
    flex: 0 0 calc(74% - 10px);
  }
  .cont12.space10>.lg8{
    margin: 5px;
    flex-basis: calc(66.66% - 10px);
  }
  .cont12.space10>.lg7{
    margin: 5px;
    flex-basis: calc(57% - 10px);
  }
  .cont12.space10>.lg6{
    margin: 5px;
    flex-basis: calc(50% - 10px);
  }
  .cont12.space10>.lg5{
    margin: 5px;
    flex-basis: calc(41.66% - 10px);
  }
  .cont12.space10>.lg4{
    margin: 5px;
    flex-basis: calc(33.33% - 10px);
  }
  .cont12.space10>.lg3{
    margin: 5px;
    flex-basis: calc(25% - 10px);
  }
  .cont12.space10>.lg2{
    margin: 5px;
    flex: 0 0 calc(16.66% - 10px);
  }
  .cont12.space10>.lg1{
    margin: 5px;
    flex-basis: calc(8.33% - 10px);
  }
  .cont12.space10>.lg0{
    display: none;
  }

  .cont-debug:before{
    content: "large";
  }
  
}

@media screen and (min-width: 767px) and (max-width: 1023px){

  .cont12>.lg1{
    flex-basis: 8.33%;
  }
  .cont12>.lg2{
    flex-basis: 16.66%;
  }
  .cont12>.lg3{
    flex-basis: 25%;
  }
  .cont12>.lg4{
    flex-basis: 33.33%;
  }
  .cont12>.lg6{
    flex-basis: 50%;
  }
  .cont12>.lg7{
    flex-basis: 58.33%;
  }
  .cont12>.lg8{
    flex-basis: 66.67%;
  }
  .cont12>.lg9{
    flex-basis: 75%;
  }
  .cont12>.lg10{
    flex-basis: 83.33%;
  }
  .cont12>.lg11{
    flex-basis: 91.16%;
  }
  .cont12>.lg12{
    flex-basis: 100%;
  }
  .cont12>.md1{
    flex-basis: 8.33%;
  }
  .cont12>.md2{
    flex-basis: 16.66%;
  }
  .cont12>.md3{
    flex-basis: 25%;
  }
  .cont12>.md4{
    flex-basis: 33.33%;
  }
  .cont12>.md6{
    flex-basis: 50%;
  }
  .cont12>.md7{
    flex-basis: 58.33%;
  }
  .cont12>.md8{
    flex-basis: 66.67%;
  }
  .cont12>.md9{
    flex-basis: 75%;
  }
  .cont12>.md10{
    flex-basis: 83.33%;
  }
  .cont12>.md11{
    flex-basis: 91.16%;
  }
  .cont12>.md12{
    flex-basis: 100%;
  }

  .cont12.space10{
    padding: 5px;
  }
  .cont12.space10>.lg12{
    margin: 5px;
    flex-basis: calc(100% - 10px);
  }
  .cont12.space10>.lg11{
    margin: 5px;
    flex-basis: calc(91.66% - 10px);
  }
  .cont12.space10>.lg10{
    margin: 5px;
    flex-basis: calc(83.33% - 10px);
  }
  .cont12.space10>.lg9{
    margin: 5px;
    flex-basis: calc(75% - 10px);
  }
  .cont12.space10>.lg8{
    margin: 5px;
    flex-basis: calc(66.66% - 10px);
  }
  .cont12.space10>.lg7{
    margin: 5px;
    flex-basis: calc(58.33% - 10px);
  }
  .cont12.space10>.lg6{
    margin: 5px;
    flex-basis: calc(50% - 10px);
  }
  .cont12.space10>.lg5{
    margin: 5px;
    flex-basis: calc(41.66% - 10px);
  }
  .cont12.space10>.lg4{
    margin: 5px;
    flex-basis: calc(33.33% - 10px);
  }
  .cont12.space10>.lg3{
    margin: 5px;
    flex-basis: calc(25% - 10px);
  }
  .cont12.space10>.lg2{
    margin: 5px;
    flex-basis: calc(16.66% - 10px);
  }
  .cont12.space10>.lg1{
    margin: 5px;
    flex-basis: calc(8.33% - 10px);
  }
  .cont12.space10>.lg0{
    display: none;
  }
  .cont12.space10>.md12{
    margin: 5px;
    flex-basis: calc(100% - 10px);
  }
  .cont12.space10>.md11{
    margin: 5px;
    flex-basis: calc(91.66% - 10px);
  }
  .cont12.space10>.md10{
    margin: 5px;
    flex-basis: calc(83.33% - 10px);
  }
  .cont12.space10>.md9{
    margin: 5px;
    flex-basis: calc(75% - 10px);
  }
  .cont12.space10>.md8{
    margin: 5px;
    flex-basis: calc(66.66% - 10px);
  }
  .cont12.space10>.md7{
    margin: 5px;
    flex-basis: calc(58.33% - 10px);
  }
  .cont12.space10>.md6{
    margin: 5px;
    flex-basis: calc(50% - 10px);
  }
  .cont12.space10>.md5{
    margin: 5px;
    flex-basis: calc(41.66% - 10px);
  }
  .cont12.space10>.md4{
    margin: 5px;
    flex-basis: calc(33.33% - 10px);
  }
  .cont12.space10>.md3{
    margin: 5px;
    flex-basis: calc(25% - 10px);
  }
  .cont12.space10>.md2{
    margin: 5px;
    flex-basis: calc(16.66% - 10px);
  }
  .cont12.space10>.md1{
    margin: 5px;
    flex-basis: calc(8.33% - 10px);
  }
  .cont12.space10>.md0{
    display: none;
  }

  .cont-debug:before{
   content: "medium";
  }

}

@media screen and (max-width: 766px){

  .cont12>.lg1{
    flex-basis: 8.33%;
  }
  .cont12>.lg2{
    flex-basis: 16.66%;
  }
  .cont12>.lg3{
    flex-basis: 25%;
  }
  .cont12>.lg4{
    flex-basis: 33.33%;
  }
  .cont12>.lg6{
    flex-basis: 50%;
  }
  .cont12>.lg7{
    flex-basis: 58.33%;
  }
  .cont12>.lg8{
    flex-basis: 66.67%;
  }
  .cont12>.lg9{
    flex-basis: 75%;
  }
  .cont12>.lg10{
    flex-basis: 83.33%;
  }
  .cont12>.lg11{
    flex-basis: 91.16%;
  }
  .cont12>.lg12{
    flex-basis: 100%;
  }
  .cont12>.md1{
    flex-basis: 8.33%;
  }
  .cont12>.md2{
    flex-basis: 16.66%;
  }
  .cont12>.md3{
    flex-basis: 25%;
  }
  .cont12>.md4{
    flex-basis: 33.33%;
  }
  .cont12>.md6{
    flex-basis: 50%;
  }
  .cont12>.md7{
    flex-basis: 58.33%;
  }
  .cont12>.md8{
    flex-basis: 66.67%;
  }
  .cont12>.md9{
    flex-basis: 75%;
  }
  .cont12>.md10{
    flex-basis: 83.33%;
  }
  .cont12>.md11{
    flex-basis: 91.16%;
  }
  .cont12>.md12{
    flex-basis: 100%;
  }
  .cont12>.sm1{
    flex-basis: 8.33%;
  }
  .cont12>.sm2{
    flex-basis: 16.66%;
  }
  .cont12>.sm3{
    flex-basis: 25%;
  }
  .cont12>.sm4{
    flex-basis: 33.33%;
  }
  .cont12>.sm6{
    flex-basis: 50%;
  }
  .cont12>.sm7{
    flex-basis: 58.33%;
  }
  .cont12>.sm8{
    flex-basis: 66.67%;
  }
  .cont12>.sm9{
    flex-basis: 75%;
  }
  .cont12>.sm10{
    flex-basis: 83.33%;
  }
  .cont12>.sm11{
    flex-basis: 91.16%;
  }
  .cont12>.sm12{
    flex-basis: 100%;
  }

  .cont12.space10{
    padding: 5px;
  }
  .cont12.space10>.lg12{
    margin: 5px;
    flex-basis: calc(100% - 10px);
  }
  .cont12.space10>.lg11{
    margin: 5px;
    flex-basis: calc(91.66% - 10px);
  }
  .cont12.space10>.lg10{
    margin: 5px;
    flex-basis: calc(83.33% - 10px);
  }
  .cont12.space10>.lg9{
    margin: 5px;
    flex-basis: calc(75% - 10px);
  }
  .cont12.space10>.lg8{
    margin: 5px;
    flex-basis: calc(66.66% - 10px);
  }
  .cont12.space10>.lg7{
    margin: 5px;
    flex-basis: calc(58.33% - 10px);
  }
  .cont12.space10>.lg6{
    margin: 5px;
    flex-basis: calc(50% - 10px);
  }
  .cont12.space10>.lg5{
    margin: 5px;
    flex-basis: calc(41.66% - 10px);
  }
  .cont12.space10>.lg4{
    margin: 5px;
    flex-basis: calc(33.33% - 10px);
  }
  .cont12.space10>.lg3{
    margin: 5px;
    flex-basis: calc(25% - 10px);
  }
  .cont12.space10>.lg2{
    margin: 5px;
    flex-basis: calc(16.66% - 10px);
  }
  .cont12.space10>.lg1{
    margin: 5px;
    flex-basis: calc(8.33% - 10px);
  }
  .cont12.space10>.md12{
    margin: 5px;
    flex-basis: calc(100% - 10px);
  }
  .cont12.space10>.md11{
    margin: 5px;
    flex-basis: calc(91.66% - 10px);
  }
  .cont12.space10>.md10{
    margin: 5px;
    flex-basis: calc(83.33% - 10px);
  }
  .cont12.space10>.md9{
    margin: 5px;
    flex-basis: calc(75% - 10px);
  }
  .cont12.space10>.md8{
    margin: 5px;
    flex-basis: calc(66.66% - 10px);
  }
  .cont12.space10>.md7{
    margin: 5px;
    flex-basis: calc(58.33% - 10px);
  }
  .cont12.space10>.md6{
    margin: 5px;
    flex-basis: calc(50% - 10px);
  }
  .cont12.space10>.md5{
    margin: 5px;
    flex-basis: calc(41.66% - 10px);
  }
  .cont12.space10>.md4{
    margin: 5px;
    flex-basis: calc(33.33% - 10px);
  }
  .cont12.space10>.md3{
    margin: 5px;
    flex-basis: calc(25% - 10px);
  }
  .cont12.space10>.md2{
    margin: 5px;
    flex-basis: calc(16.66% - 10px);
  }
  .cont12.space10>.md1{
    margin: 5px;
    flex-basis: calc(8.33% - 10px);
  }
  .cont12.space10>.sm12{
    margin: 5px;
    flex-basis: calc(100% - 10px);
  }
  .cont12.space10>.sm11{
    margin: 5px;
    flex-basis: calc(91.66% - 10px);
  }
  .cont12.space10>.sm10{
    margin: 5px;
    flex-basis: calc(83.33% - 10px);
  }
  .cont12.space10>.sm9{
    margin: 5px;
    flex-basis: calc(75% - 10px);
  }
  .cont12.space10>.sm8{
    margin: 5px;
    flex-basis: calc(66.66% - 10px);
  }
  .cont12.space10>.sm7{
    margin: 5px;
    flex-basis: calc(58.33% - 10px);
  }
  .cont12.space10>.sm6{
    margin: 5px;
    flex-basis: calc(50% - 10px);
  }
  .cont12.space10>.sm5{
    margin: 5px;
    flex-basis: calc(41.66% - 10px);
  }
  .cont12.space10>.sm4{
    margin: 5px;
    flex-basis: calc(33.33% - 10px);
  }
  .cont12.space10>.sm3{
    margin: 5px;
    flex-basis: calc(25% - 10px);
  }
  .cont12.space10>.sm2{
    margin: 5px;
    flex-basis: calc(16.66% - 10px);
  }
  .cont12.space10>.sm1{
    margin: 5px;
    flex-basis: calc(8.33% - 10px);
  }

  .cont-debug:before{
    content: "small";
  }

}