@media screen{

  .content{

    background: #fff;
    margin-left: 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;

  }

  .content.sidebar-on{

    margin-left: 240px;

  }

}

@media screen and (min-width:1365px){

  .content{


  }

}