@media screen{

  .datepicker{
    vertical-align: middle;
    position: relative;
    border: solid 1px #eee;
    white-space: nowrap;
    align-items: center;
    overflow: hidden;
    width: 130px;
    border-radius: 6px;
  }
  .datepicker:hover{
    border-color: #aaa;
  }
  .datepicker input{
    background: transparent;
    border: none;
    padding: 6px;
    width: 100%;
    padding: 6px 18px 6px 12px;
  }
  .datepicker .icon{
    padding: 6px 12px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }

  /* READONLY */
  .datepicker.readonly, .datepicker.readonly:hover{
    border-color: transparent;
  }
  .datepicker.readonly .icon{
    display: none;
  }

}