@media screen{

  .dropdown{
    border: solid 1px #eee;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    border-radius: 6px;
    position: relative;
    vertical-align: middle;
  }
  .dropdown:hover, .dropdown:active{
    border-color: #aaa;
  }
  .dropdown>input{
    background: transparent;
    border: none;
    padding: 6px;
    vertical-align: middle;
    cursor: pointer;
  }
  .dropdown .icon{
    color: #aaa;
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    margin: auto;
    padding: 0 12px;
    height: 50%;
  }
  .dropdown.error{
    border-color: #E9573F;
  }
  .dropdown .item{
    padding: 6px;
    text-align: left;
    border-top: solid 1px #eee;
  }
  .dropdown .item:first-child{
    border-top-color: transparent;
  }
  .dropdown .item>input{
    margin-right: 8px;
  }
  .dropdown .item:hover{
  }
  .dropdown .popup .search-item{
    padding: 3px;
  }
  .dropdown .popup .search-item input{
    border: solid 1px #eee;
    border-radius: 4px;
    padding: 6px;
    width: 100%;
  }

  .dropdown.no-border{
    border-color: transparent;

  }

  .dropdown.readonly{
    border-color: transparent;
  }
  .dropdown.readonly .fa{
    display: none;
  }

}