@media screen{

  .dropdown{
    border: solid 1px #eee;
    white-space: nowrap;
    overflow: hidden;
  }
  .dropdown>input{
    border: none;
    padding: 8px;
    vertical-align: middle;
    width: calc(100% - 28px);
  }
  .dropdown .icon{
    color: #aaa;
    cursor: pointer;
    background: #fff;
    padding: 8px;
    width: 28px;
    display: inline-block;
    text-align: center;
  }
  .dropdown.error{
    border-color: #E9573F;
  }
  .dropdown .item{
    padding: 8px;
    text-align: left;
  }
  .dropdown .item>input{
    margin-right: 8px;
  }
  .dropdown .item:hover{
    background: #f5f5f5;
  }
  .dropdown .popup .search-item{
    padding: 3px;
  }
  .dropdown .popup .search-item input{
    border: solid 1px #eee;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
  }

  .dropdown.no-border{
    border-color: transparent;

  }

  .dropdown.readonly{
    border-color: transparent;
  }
  .dropdown.readonly .fa{
    display: none;
  }

}