@media screen{

  .gridhead{
    display: block;
    overflow-x: hidden;
  }
  .gridhead *{
  }
  .grid-head{
  }
  .gridhead>table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-bottom: solid 1px #ddd;
  }
  .gridhead td{
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  .gridhead td.label{
    padding: 6px;
    cursor: pointer;
    -moz-transition: background-color 300ms ease-in;
    -webkit-transition: background-color 300ms ease-in;
    position: relative;
  }
  .gridhead td.label:first-child{
    border-left: none;
  }
  .gridhead td.label:last-child{
    border-right: none;
  }
  .gridhead td.inactive{
    width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none 0px !important;
  }
  .grid-head td.label .separator{
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 0;
    cursor: e-resize;
    border-right: dotted 2px #eee;
  }
  .grid-head td.label .separator .dot{
    width: 2px;
    height: 2px;
    margin: 2px;
    border-radius: 4px;
    background: #ddd;
    display: block;
  }

  .grid{
    overflow-x: hidden;
    display: block;
  }
  .grid>table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }
  .grid td{
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
  .grid td.label{
    padding: 6px;
  }
  .grid .grid-size-label{
    padding: 0 8px;
  }
  .grid .grid-content tr.drag-over{
    background: #eee;
  }
  .grid .grid-content tr.dragging{
    background: #fff;
  }
  .grid *[data-type]{
    /*border-color: transparent;*/
  }

  /* BEGIN STYLE 1 */
  .style1{

  }
  .style1 .grid-head td{
    border-bottom: solid 1px transparent;
    font-weight: 600;
  }
  .style1 td{
    border: solid 1px #eee;
  }
  .style1 td.label .separator{
    border:none;
    width: 5px;
    background: transparent;
  }
  .style1 .grid-size td{
    border-color: transparent;
    border-top-color: #eee;
  }
  .gridhead.style1 td.label:first-child{
    border-left: solid 1px #eee;
  }
  .gridhead.style1 td.label:last-child{
    border-right: solid 1px #eee;
  }
  /* END STYLE 1 */

}