@media screen{

  .grid{
    overflow-x: hidden;
  }
  .grid>table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  .grid td{
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
  .grid td.label{
    padding: 6px;
  }
  .grid .grid-size-label{
    padding: 0 8px;
  }


  /* BEGIN STYLE 1 */
  .grid.style1 td{
    border: solid 1px transparent;
  }
  .grid.style1 td:first-child{
    border-left: none;
  }
  .grid.style1 td:last-child{
    border-right: none;
  }
  .grid.style1 .grid-body td{
    border-bottom: solid 1px #eee;
  }
  .grid.style1 .grid-size td{
    border-bottom-color: transparent;
  }
  .grid.style1 .grid-body tr.active{
    background: #f5f5f5;
  }
  .grid.style1 .grid-body tr.highlight{
    background: #e8f4f8;
  }
  .grid.style1 .grid-more{
    text-align: center;
    border: none;
    padding: 10px 20px 10px 20px;
  }
  .grid.style1 .grid-size-label.inactive{
    width: 0 !important;
    border: none !important;
    padding: 0 !important;
  }
  /* END STYLE 1 */

}