@media screen{

  .layout2{
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .layout-sidebar{

    /*background: #ffffcc;*/
    flex: 0 0 300px;
    overflow-x: hidden;
    overflow-y: auto;

  }

  .layout-content{

    flex: 1 1 auto;
    overflow-x: hidden;

  }

  .layout-main{

    /*background: #cceeff;*/
    flex: 0 0 calc(30% - 150px);
    overflow-x: hidden;
    overflow-y: auto;

  }

  .layout-ext{

    /*background: #cceecc;*/
    flex: 0 0 calc(70% - 150px);
    overflow-x: hidden;
    overflow-y: auto;

  }

  .layout.ext-hidden .layout2-main{
    flex: 0 0 calc(100% - 100px);
  }
  .layout.ext-hidden .layout2-ext{
    flex: 0 0 0 !important;;
  }


}