@media screen{

  .nav{
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .nav li{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .nav li:last-child{

  }
  .nav li:hover{
    background: rgba(0, 0, 0, .1);
  }
  .nav li a{
    padding: 10px;
    display: block;
  }

}