@media screen{

  .popup{

    position: fixed;
    z-index: 4;
    display: none;
    background: #fff;
    border: solid 1px #aaa;
    overflow-y: auto;
    overflow-x: hidden;

  }

  .popup.on{

    display: block;

  }



}