@media screen{

  .popup{
    position: fixed;
    z-index: 4;
    background: #fff;
    border: solid 1px #ddd;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
  }
  .popup.on{
  }
  .popup.off{
    display: none;
  }

}