@media screen{

  .align-left, .align-left *{ text-align: left; }
  .align-center, .align-center *{ text-align: center; }
  .align-right, .align-right *{ text-align: right; }

  .valign-top{ vertical-align: top; }
  .valign-middle{ vertical-align: middle; }
  .valign-bottom{ vertical-align: bottom; }

  .align-items-center{ align-items: center; }
  .align-items-flex-start{ align-items: flex-start; }
  .align-items-flex-end{ align-items: flex-end; }

  .bg-light1{ background: #f5f5f5; }
  .bg-light2{ background: #e5e5e5; }
  .bg-white{ background: #fff; }
  .bg-blue{ background: #4A89DC; color: #fff; }

  .cl-lightgray, .cl-lightgray *{ color: #eee; }
  .cl-blue, .cl-blue *{ color: #4A89DC; }
  .cl-gray, .cl-gray *{ color: #AAA; }
  .cl-green, .cl-green *{ color: #8CC152; }
  .cl-red, .cl-red *{ color: #E9573F; }
  .cl-white, .cl-white *{ color: #FFFFFF; }

  .inline-block{ display: inline-block; }

  .border-bottom{ border-bottom: solid 1px #eee; }
  .border-top{ border-top: solid 1px #eee; }

  .border-radius4{ border-radius: 4px; }

  .height5{ height: 5px }
  .height10{ height: 10px }
  .height16{ height: 16px }
  .height20{ height: 20px }
  .height30{ height: 30px }
  .height50{ height: 50px }
  .height100{ height: 100px }
  .height125{ height: 125px }
  .height150{ height: 150px }
  .height200{ height: 200px }
  .height250{ height: 250px }
  .height300{ height: 300px }
  .height360{ height: 360px }

  .dock-top{
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .dock-bottom{
    position: absolute;
    bottom: 0;
    z-index: 0;
  }
  .dock-left{
    position: absolute;
    left: 0;
    z-index: 0;
  }
  .dock-right{
    position: absolute;
    right: 0;
    z-index: 0;
  }
  .dock-right-top{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
  .dock-left-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  }
  .dock-right-bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .width10{ width: 10px }
  .width16{ width: 16px }
  .width30{ width: 30px }
  .width50{ width: 50px }
  .width100{ width: 100px }
  .width200{ width: 200px }
  .width240{ width: 240px }
  .width300{ width: 300px }
  .width400{ width: 400px }
  .width480{ width: 480px }
  .width600{ width: 600px }
  .width800{ width: 800px }
  .width-full{ width: 100%; }

  .relative{ position:relative; }

  .selectable{ cursor: pointer; }
  .nowrap{ white-space: nowrap; }
  .overflow-hidden{ overflow: hidden; }
  .ellipsis{ text-overflow: ellipsis; }

  .wrapper{
    margin: 0 auto;
  }

  .padding3{ padding: 3px; }
  .padding5{ padding: 5px; }
  .padding6{ padding: 6px; }
  .padding7{ padding: 7px; }
  .padding8{ padding: 8px; }
  .padding9{ padding: 9px; }
  .padding10{ padding: 10px; }
  .padding15{ padding: 15px; }
  .padding20{ padding: 20px; }
  .padding30{ padding: 30px; }
  .padding40{ padding: 40px; }
  .margin5{ margin: 5px; }
  .margin10{ margin: 10px; }
  .margin15{ margin: 15px; }
  .margin20{ margin: 20px; }
  .margin30{ margin: 30px; }
  .margin40{ margin: 40px; }

  .font16px, .font16px *{
    font-size: 16px;
  }

  .justified{ text-align: justify; }

  .flex{
    display: flex;
  }
  .flex-grow{
    flex: 1 1 auto;
  }
  
  .hidden{
    display: none;
  }

}