@media screen{

  .ease-in{

    transition: all 300ms ease-in;

  }

}@media screen{

  .autocomplete{

    border: solid 1px #eee;
    background: #fff;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;

  }

  .autocomplete input{

    border: none;
    padding: 8px;
    background: transparent;
    vertical-align: middle;

  }

  .autocomplete>.text{
    padding: 8px;
    background: #eee;
    margin: 1px;
    vertical-align: middle;
    position: relative;
  }
  .autocomplete>.text .icon-remove{
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 2px 6px;
    display: none;
    background: red;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: .6em;
  }
  .autocomplete>.text:hover .icon-remove{
    display: block;
  }

  .autocomplete .icon{

    color: #aaa;
    cursor: pointer;
    background: transparent;
    vertical-align: middle;
    padding: 8px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;

  }

  .autocomplete .popup .item{

    padding: 8px;
    text-align: left;

  }

  .autocomplete.no-border{
    border-color: transparent;
  }

  .autocomplete.readonly{
    background: rgba(0, 0, 0, .1);
  }

  .autocomplete.readonly .fa{
    display: none;
  }
  .autocomplete.readonly>.text .icon-remove{
    display: none;
  }

}@media screen{
  
  button{
    position: relative;
    display: inline-block;
    border: solid 1px #ddd;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    padding: 7px;
    vertical-align: top;
  }
  button, button *{
    vertical-align: sub !important;
  }
  button .glyphicons, button .fa{
    padding: 0;
    margin: 0;
    margin-right: 6px;
  }
  button:hover{
    border-color: #aaa;
  }
  button:active{
    position: relative;
    top: 1px;
    left: 1px;
  }
  button.blue{
    background: #5D9CEC;
    border: solid 1px #5D9CEC;
  }
  button.blue, button.blue *{
    color: #fff;
  }
  button.blue:hover{
    background: #4A89DC;
  }
  button.red{
    background: #FC6E51;
    border: solid 1px #FC6E51;
  }
  button.red, button.red *{
    color: #fff;
  }
  button.red:hover{
    background: #E9573F;
    border-color: #E9573F;
  }
  button.green{
    background: #A0D468;
    border: solid 1px #A0D468;
  }
  button.green, button.green *{
    color: #fff;
  }
  button.green:hover{
    background: #8CC152;
    border-color: #8CC152;
  }
  button.gray{
    background: #58595b;
    border: solid 1px #58595b;
  }
  button.gray, button.gray *{
    color: #fff;
  }
  button.gray:hover{
    background: rgba(0, 0, 0, .8);
    border-color: transparent;
  }
  
}@media screen{

  #calendar{
    padding: 8px;
  }

  #calendar table{
    display: inline-block;
    vertical-align: top;
  }
  #calendar td{
    padding: 3px;
    text-align: center;
    cursor: pointer;
  }
  #calendar td.active{
    background: #eee;
  }

}@media screen{

  .card{

    border: solid 1px #ddd;
    display: block;
    margin-bottom: 10px;
    vertical-align: top;

  }

  .card.expand{

    height: 500px;

  }

  .card .status{

    display: inline-block;
    padding: 10px 0px 5px 10px;

  }

  .card .title{

    display: inline-block;
    font-size: 1.1em;
    padding: 10px 5px 5px 5px;

  }

  .card .description{

    display: inline-block;
    padding: 5px 10px 10px 10px;

  }
  
  .card .description{
    
    display: block;
  
  }

  .card .subactivity{

    display: block;
    padding-left: 30px;

  }

  .card .subactivity ul{

    margin: 0;
    padding: 0;

  }

  .card .subactivity li{

    display: block;
    list-style-type: none;
    margin: 0;
    padding: 5px;

  }

  .card .subactivity li .fa{

    margin-right: 5px;

  }

  .card .options{

    background: #f5f5f5;
    display: block;
    margin-top: 5px;
    padding: 5px;


  }

  .card .options>*{

    padding: 5px;

  }
  
}@media screen{

  .carousel{
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
  }

}@media screen{

  .chart{

    background: #fff;
    display: inline-block;
    position: relative;
    
  }

}@media screen{

  .checklist{
    display: block;
    padding: 10px;
  }

  .checklist-item{
    border-bottom: solid 1px #eee;
    display: flex;
    align-items: center;
  }

  .checklist-item input[type='checkbox']{

    flex: 0 0 auto;

  }
  .checklist-item input[type='text']{
    border: none;
    outline: none;
    resize: none;
    appearance: none;
    padding: 8px;
    flex: 1 1 auto;
  }
  .checklist-item .iconbar{
    flex: 0 0 auto;
  }
  
  .checklist-foot{
    padding: 5px;
    text-align: center;
  }

}@media screen{

  .code{

    font-family: Monospace;
    padding: 10px;
    display: inline-block;
    background: #eee;
    white-space: pre-wrap;

  }

}@media screen{

  .codeeditor, .codeeditor *{

    font-size: 13px;
    font-family: Monospace;

  }
  
  .codeeditor{

    display: inline-block;
    position: relative;
    border: solid 1px #eee;
    
  }

  .codeeditor textarea{

    border: none;
    resize: none;
    outline: none;
    appearance: none;
    padding: 8px;

  }


}@media screen{

  .codefield{
    background: #f5f5f5;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  .codefield pre{
    font-family: monospace;
  }

}@media screen{

  .commentlist{



  }

  .commentlist-write{

    display: flex;

  }
  .commentlist-write input[type='text']{

    flex: 1 1 100%;
    padding: 8px;
    border: solid 1px #eee;

  }

  .commentlist-item{

    padding: 8px;

  }

  .commentlist-item-footer{

    color: #aaa;
    font-size: .9em;
    margin-top: 5px;

  }
  .commentlist-item-footer *{
    color: #aaa;
  }

}@media screen{

  .datepicker{
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    border: solid 1px #eee;
    white-space: nowrap;
    align-items: center;
  }
  .datepicker:hover{
    border-color: #aaa;
  }
  .datepicker input{
    background: transparent;
    border: none;
    padding: 8px;
    flex: 1 1 auto;
  }
  .datepicker .icon{
    padding: 8px;
    cursor: pointer;
  }

  /* READONLY */
  .datepicker.readonly, .datepicker.readonly:hover{
    border-color: transparent;
  }
  .datepicker.readonly .icon{
    display: none;
  }

}@media screen{

  .dock-top{

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;

  }

  .dock-bottom{

    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;

  }


}@media screen{

  .dropdown{
    border: solid 1px #eee;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
  }
  .dropdown:hover, .dropdown:active{
    border-color: #aaa;
  }
  .dropdown>input{
    background: transparent;
    border: none;
    padding: 8px;
    vertical-align: middle;
    width: calc(100% - 28px);
    cursor: pointer;
  }
  .dropdown .icon{
    color: #aaa;
    cursor: pointer;
    padding: 8px;
    width: 28px;
    display: inline-block;
    text-align: center;
  }
  .dropdown.error{
    border-color: #E9573F;
  }
  .dropdown .item{
    padding: 8px;
    text-align: left;
    border-top: solid 1px #eee;
  }
  .dropdown .item:first-child{
    border-top-color: transparent;
  }
  .dropdown .item>input{
    margin-right: 8px;
  }
  .dropdown .item:hover{
  }
  .dropdown .popup .search-item{
    padding: 3px;
  }
  .dropdown .popup .search-item input{
    border: solid 1px #eee;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
  }

  .dropdown.no-border{
    border-color: transparent;

  }

  .dropdown.readonly{
    border-color: transparent;
  }
  .dropdown.readonly .fa{
    display: none;
  }

}@media screen{

  .filterbar{
    display: inline-block;
  }
  .filterbar .add-btn{
    padding: 8px;
    background: #ccc;
    cursor: pointer;
  }

  .flt-key{
    display: inline-block;
    padding: 5px;
    background: #3BAFDA;
    color: #fff;
    margin-right: 2px;
  }
  .flt-opr{
    display: inline-block;
    padding: 5px;
    background: #E9573F;
    color: #fff;
    margin-right: 2px;
  }
  .flt-val{
    display: inline-block;
    padding: 5px;
    background: #8CC152;
    color: #fff;
    margin-right: 2px;
  }
  .flt-bracket-start{
    padding: 5px;
    display: inline-block;
    background: #37BC9B;
    color: #fff;
    margin-right: 2px;
  }
  .flt-bracket-end{
    padding: 5px;
    display: inline-block;
    background: #37BC9B;
    color: #fff;
    margin-right: 2px;
  }

}@media screen{

  .flex{
    display: flex;
  }

  .flex-align-center{

  }
  .flex-valign-center{
    align-items: center;
  }

  .flex-col{
  }

  .flex-col-stretch{
    flex: 1 1 100%;
  }

}@media screen{

  .folded-pane{

  }
  .folded-pane .toggler{
    min-height: 3px;
    border-bottom: solid 1px #f5f5f5;
    text-align: center;
    margin-top: 2px;
    cursor: pointer;
  }
  .folded-pane.folded{
  }
  .folded-pane.folded>*{
    display: none;
  }
  .folded-pane.folded .toggler{
    display: block;
  }

}@media screen{

  .form{

  }

  .form th{

    white-space: nowrap;
    font-weight: normal;
    text-align: left;

  }

  .form th, .form td{

    vertical-align: top;

  }

}@media screen{

  .grid{
    display: block;
    width: 100%;
    overflow-x: hidden;
  }
  .grid *{
    font-size: 13px;
  }
  .grid>table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  .grid td{
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: middle;
    border: solid 1px transparent;
  }
  .grid td:first-child{
    border-left: none;
  }
  .grid td:last-child{
    border-right: none;
  }
  .grid td.label{
    padding: 8px;
  }

  .grid-body tr:hover{

  }
  .grid-body tr.active{
    background: #f5f5f5;
  }
  .grid-body tr.active td{
  }

  .grid .grid-size-label{
    padding: 0 8px;
  }
  .grid .grid-size-label.inactive{
    width: 0 !important;
    border: none !important;
    padding: 0 !important;
  }

  .grid-more{
    text-align: center;
    border: none;
    padding: 10px 20px 10px 20px;
  }

}@media screen{

  .gridhead{
    display: block;
    width: 100%;
    overflow-x: hidden;
  }
  .gridhead *{
  }
  .grid-head{
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
  }
  .gridhead>table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  .gridhead td{
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  .gridhead td.label{
    padding: 8px;
    border: solid 1px #eee;
    cursor: pointer;
    -moz-transition: background-color 300ms ease-in;
    -webkit-transition: background-color 300ms ease-in;
    position: relative;
    color: #aaa;
  }
  .gridhead td.label:first-child{
    border-left: none;
  }
  .gridhead td.label:last-child{
    border-right: none;
  }
  .gridhead td.inactive{
    width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none 0px !important;
  }
  .gridhead td.label:hover{
    background-color: rgba(0, 0, 0, .05);
  }
  .grid-head td.label .separator{
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 13px;
    background: transparent;
    cursor: e-resize;
    display: inline-block;
  }

}@media screen{

  .header{

    background: #58595b;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 8;
    display: flex;
    padding: 0 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    align-items: center;
    padding: 8px;

  }

  .header .header-col1{

    flex-basis: 40px;
    text-align: center;
    
  }

  .header .header-col2{

    flex-grow: 1;

  }

  .header .header-col3{

    flex-basis: 100px;
    text-align: right;
    padding-right: 10px;

  }

  .header.sidebar-on{

    left: 240px;

  }

  .header *{
    color: #ccc;
    vertical-align: middle;
  }

  .header .menubar{
    vertical-align: middle;
  }
  .header .menubar .menuitem{
    padding: 5px;

  }
  .header .menubar .menuitem .separator{
    border-left: solid 1px #999;
    height: 8px;
    margin: 0 10px;
  }
  .header .menubar .menuitem .fa{
    cursor: pointer;
  }

}@media screen{

  .icon{

    font-size: 13px;

  }

}@media screen{

  .image{

    display: inline-block;
    position:relative; 
    overflow:hidden;
    background: #eee;
    border: solid 2px #eee;
    
  }
  .image.obj-hover{
    border-color: #ccc;
  }

  .image input[type="file"]{

    position:absolute;
    z-index: 1;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor:pointer;

  }
  .image img{

    display: block;
    width: auto;
    height: auto;

  }
  .image canvas{
    display: none;
  }

}@media screen and (min-width:1366px){

  .layout{
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  
  .layout-sidebar{

    /*background: #ffffcc;*/
    flex: 0 0 300px;
    overflow-x: hidden;
    overflow-y: auto;

  }
  
  .layout-main{

    /*background: #cceeff;*/
    flex: 0 0 calc(30% - 150px);
    overflow-x: hidden;
    overflow-y: auto;
    
  }
  
  .layout-ext{

    /*background: #cceecc;*/
    flex: 0 0 calc(70% - 150px);
    overflow-x: hidden;
    overflow-y: auto;

    
  }

  .layout.ext-hidden .layout-main{
    flex: 0 0 calc(100% - 100px);
  }
  .layout.ext-hidden .layout-ext{
    flex: 0 0 0 !important;;
  }


}

@media screen and (min-width:800px) and (max-width:1365px){

  .layout{
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .layout-sidebar{

    /*background: #ffffcc;*/
    flex: 0 0 300px;
    overflow-x: hidden;
    overflow-y: auto;

  }

  .layout-main{

    /*background: #cceeff;*/
    flex: 0 0 calc(40% - 150px);
    overflow-x: hidden;
    overflow-y: auto;

  }

  .layout-ext{

    /*background: #cceecc;*/
    flex: 0 0 calc(60% - 150px);
    overflow-x: hidden;
    overflow-y: auto;

  }

  .layout.ext-hidden .layout-main{
    flex: 0 0 calc(100% - 300px);
  }
  .layout.ext-hidden .layout-ext{
    flex: 0 0 0  !important;
  }


}@media screen{

  .layout2{
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .layout-sidebar{

    /*background: #ffffcc;*/
    flex: 0 0 300px;
    overflow-x: hidden;
    overflow-y: auto;

  }

  .layout-content{

    flex: 1 1 auto;
    overflow-x: hidden;

  }

  .layout-main{

    /*background: #cceeff;*/
    flex: 0 0 calc(30% - 150px);
    overflow-x: hidden;
    overflow-y: auto;

  }

  .layout-ext{

    /*background: #cceecc;*/
    flex: 0 0 calc(70% - 150px);
    overflow-x: hidden;
    overflow-y: auto;

  }

  .layout.ext-hidden .layout2-main{
    flex: 0 0 calc(100% - 100px);
  }
  .layout.ext-hidden .layout2-ext{
    flex: 0 0 0 !important;;
  }


}@media screen{

  .menulist{

    border-collapse: collapse;

  }
  .menulist .menuitem{

    border: solid 1px #f5f5f5;
    padding: 5px 10px;
    cursor: pointer;

  }
  .menulist .menuitem:hover{

    background: #f5f5f5;
    
  }

}@media screen{

  .modal{
    background: #fff;
    border: solid 1px #ccc;
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
  .modal.on{
    display: block;
  }
  .modal-body{
    overflow-y: auto;
    overflow-x: hidden;
  }
  .modal-foot{
    border-top: solid 1px #eee;
    text-align: right;
  }
  .modal-bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 2;
  }
  .modal-bg.on{
    display: block;
  }

}@media screen{

  .nav{
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .nav li{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .nav li:last-child{

  }
  .nav li:hover{
    background: rgba(0, 0, 0, .1);
  }
  .nav li a{
    padding: 10px;
    display: block;
  }

}@media screen{

  .popup{

    position: fixed;
    z-index: 4;
    display: none;
    background: #fff;
    border: solid 1px #ddd;
    overflow-y: auto;
    overflow-x: hidden;

  }

  .popup.on{

    display: block;

  }



}@media screen{

  .align-left, .align-left *{ text-align: left; }
  .align-center, .align-center *{ text-align: center; }
  .align-right, .align-right *{ text-align: right; }

  .valign-top{ vertical-align: top; }
  .valign-middle{ vertical-align: middle; }
  .valign-bottom{ vertical-align: bottom; }

  .align-items-center{ align-items: center; }
  .align-items-flex-start{ align-items: flex-start; }
  .align-items-flex-end{ align-items: flex-end; }

  .bg-light1{ background: #f5f5f5; }
  .bg-light2{ background: #e5e5e5; }
  .bg-white{ background: #fff; }
  .bg-blue{ background: #4A89DC; color: #fff; }

  .cl-lightgray, .cl-lightgray *{ color: #eee; }
  .cl-blue, .cl-blue *{ color: #4A89DC; }
  .cl-gray, .cl-gray *{ color: #AAA; }
  .cl-green, .cl-green *{ color: #8CC152; }
  .cl-red, .cl-red *{ color: #E9573F; }
  .cl-white, .cl-white *{ color: #FFFFFF; }

  .inline-block{ display: inline-block; }

  .border-bottom{ border-bottom: solid 1px #eee; }
  .border-top{ border-top: solid 1px #eee; }

  .border-radius4{ border-radius: 4px; }

  .height5{ height: 5px }
  .height10{ height: 10px }
  .height20{ height: 20px }
  .height30{ height: 30px }
  .height50{ height: 50px }
  .height100{ height: 100px }
  .height125{ height: 125px }
  .height150{ height: 150px }
  .height200{ height: 200px }
  .height250{ height: 250px }
  .height300{ height: 300px }
  .height360{ height: 360px }

  .dock-top{
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .dock-bottom{
    position: absolute;
    bottom: 0;
    z-index: 0;
  }
  .dock-left{
    position: absolute;
    left: 0;
    z-index: 0;
  }
  .dock-right{
    position: absolute;
    right: 0;
    z-index: 0;
  }
  .dock-right-top{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
  .dock-left-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  }
  .dock-right-bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .width10{ width: 10px }
  .width100{ width: 100px }
  .width200{ width: 200px }
  .width240{ width: 240px }
  .width300{ width: 300px }
  .width400{ width: 400px }
  .width480{ width: 480px }
  .width600{ width: 600px }
  .width800{ width: 800px }
  .width-full{ width: 100%; }

  .relative{ position:relative; }

  .selectable{ cursor: pointer;color:#4FC1E9; }
  .selectable:hover{ color:#3BAFDA; }
  .nowrap{ white-space: nowrap; }
  .overflow-hidden{ overflow: hidden; }
  .ellipsis{ text-overflow: ellipsis; }

  .wrapper{
    margin: 0 auto;
  }

  .padding3{ padding: 3px; }
  .padding5{ padding: 5px; }
  .padding8{ padding: 8px; }
  .padding10{ padding: 10px; }
  .padding15{ padding: 15px; }
  .padding20{ padding: 20px; }
  .padding30{ padding: 30px; }
  .padding40{ padding: 40px; }
  .margin5{ margin: 5px; }
  .margin10{ margin: 10px; }
  .margin15{ margin: 15px; }
  .margin20{ margin: 20px; }
  .margin30{ margin: 30px; }
  .margin40{ margin: 40px; }

  .font16px, .font16px *{
    font-size: 16px;
  }

  .justified{ text-align: justify; }

  .flex{
    display: flex;
  }
  .flex-grow{
    flex: 1 1 auto;
  }
  
  .hidden{
    display: none;
  }

}@media screen{

  .radio{
    display: inline-block;
    vertical-align: middle;
  }
  .radio>label{
    padding: 6px;
  }

}@media screen{

  .sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }

  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
      }
  }

  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
      }
  }


  .sk-fading-circle {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
  }

  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
  }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
  }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }

  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }

  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }

}@media screen{

  .tab{
    display: inline-block;
  }
  .tab *{
    font-size: 13px;
  }
  .tab li{
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    padding: 4px 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  .tab li.active{
    background: #eee;
  }

}@media screen{

  .tag{

    font-size: .8em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    padding: 3px 6px;

  }

}@media screen{

  .textarea{
    border: solid 1px #eee;
    display: inline-flex;
    background: #fff;
    position: relative;
    white-space: nowrap;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
  }
  .textarea textarea{
    border: none;
    padding: 8px;
    background: transparent;
    vertical-align: middle;
    width: 100%;
    background: transparent;
    flex-grow: 1;
    resize: none;
    appearance: none;
    outline: none;
  }

  .textarea.no-border{
    border-color: transparent;
    background: transparent;
  }

}@media screen{

  .textbox{
    border: solid 1px #eee;
    display: inline-flex;
    background: #fff;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
  }
  .textbox input{
    border: none;
    padding: 8px;
    background: transparent;
    vertical-align: middle;
    background: transparent;
    flex-grow: 1;
  }
  .textbox .icon{
    cursor: pointer;
    background: transparent;
    vertical-align: middle;
    flex-basis: 24px;
    padding: 8px;
    text-align: center;
  }
  .textbox .icon.hidden{
    visibility: hidden;
  }

  /* DARK TEXTBOX */
  .textbox.theme-dark{
    background: rgba(0, 0, 0, .2);
  }
  .textbox.theme-dark *{
    color: #eee;
  }

  .textbox.style-underline{
    border: none;
    border-bottom: solid 1px #eee;
  }
  
  /* READONLY */
  .textbox.readonly{
    background: transparent;
    border-color: transparent;
  }
  .textbox.readonly .icon{
    display: none;
  }
  
  .textbox.error{
    border-color: #E9573F;
  }

  .textbox.no-border{
    background: transparent;
    border-color: transparent;
  }

  .textbox.invalid{
    border-color: red;
  }


}@media screen{

  .toggle{
    display: inline-block;
    border: solid 1px #eee;
    background-color: #fff;
    padding: 2px;
    position: relative;
    width: 4em;
    text-align: left;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 16px;
    transition: padding-left 300ms ease;
    vertical-align: middle;
    font-size: 13px;
  }
  .toggle.on{
    padding-left: 24px;
    background: #AAA;
    border: solid 1px rgba(0, 0, 0, .2);
  }
  .toggle.green.on{
    background: #A0D468;
  }
  .toggle.blue.on{
    background: #3BAFDA;
  }
  .toggle.yellow.on{
    background: #FFCE54;
  }
  .toggle.red.on{
    background: #E9573F;
  }
  .toggle>.main-toggle{

    display: inline-block;
    height: 24px;
    width: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #fff;
    padding: 8px;
    border: solid 1px rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    
  }
  .toggle.on>.main-toggle{
    border: solid 1px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  }
  .toggle>.main-toggle.on{

    left: inherit;
    right: 0;
  }

}@media screen{

  .tooltip{

    position: fixed;
    padding: 5px;
    background: rgba(0, 0, 0, .8);
    border: solid 1px rgba(0, 0, 0, .8);
    color: #fff;
    z-index: 10;
    display: none;

  }
  .tooltip{

    font-size: 13px;

  }
  
  .tooltip.on{

    display: block;
    
  }

  .tooltip .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(0, 0, 0, .8);
    position: absolute;
    top: -4.99px;
    left: 10px;
  }
  .tooltip .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, .8);;
    position: absolute;
    bottom: -4.99px;
    left: 10px;
  }


}@media screen{
  
  *{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga", "kern";
    font-synthesis: none;
    text-rendering: optimizelegibility;
    color: rgb(77, 77, 77);
    line-height: 1.678em;
  }

  a{
    text-decoration: none;
    display: inline-block;
  }

  label{
    display: inline-block;
  }

  h1, h2, h3, h4, h5{
    display: inline-block;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  h1, h1 *, .h1, .h1 *{
    font-size: 24px;
  }
  h2, h2 *, .h2, .h2 *{
    font-size: 21px;
  }
  h3, h3 *, .h3, .h3 *{
    font-size: 18px;
  }
  h4, h4 *, .h4, .h4 *{
    font-size: 16px;
  }
  h5, h5 *, .h5, .h5 *{
    font-size: 14px;
    text-transform: uppercase;
  }
  strong{
    font-weight: 600;
  }
  small{
    font-size: 11px;
  }

  span{
    display: inline-block;
  }

  ul{
    margin: 0;
    padding: 0;
  }
  li{
    list-style-type: none;
    margin: 0 0 0 10px;
    padding: 0;
  }
  
  body{
    overflow-x: hidden;
  }

  input[type="text"]{
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  b{
    font-weight: 700;
  }

  .pane{
    border-bottom: solid 1px #eee;
    background: #fff;
  }
  
  .off{
    display: none;
  }

  .hoverable{
    color: #ccc;
  }
  .hoverable:hover{
    color: #333;
  }

}@media screen{

  .vfields{


  }

  .vfields-item{



  }

  .vfields-item-col1{


  }
  .vfields-item-col{

  }

}@media screen{

  .widget{

    display: inline-block;
    background: #fff;
    width: 100%;
    overflow: hidden;

  }

  .widget-cont{

    display: block;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;

  }

  .widget-cont>*{

    position: relative;
    display: inline-block;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    overflow: hidden;
    vertical-align: top;

  }

  .widget11{

    width: calc(33% - 6px);
    height: 140px;

  }

  .widget12{

    width: calc(33% - 6px);
    height: 280px;

  }

  .widget13{

    width: calc(33% - 6px);
    height: 420px;

  }

  .widget21{

    width: calc(66% - 6px);
    height: 140px;

  }

  .widget22{

    width: calc(66% - 6px);
    height: 280px;

  }

  .widget23{

    width: calc(66% - 6px);
    height: 420px;

  }

  .widget31{

    width: calc(100% - 17px);
    height: 140px;

  }

  .widget32{

    width: calc(100% - 17px);
    height: 280px;

  }

  .widget33{

    width: calc(100% - 17px);
    height: 420px;

  }

  .widget-head td{
    white-space: nowrap;
  }
  .widget-head td *{
    vertical-align: middle;
  }

}@media screen{

  .workspace{
    display: flex;
    align-items: flex-start;
  }

  .workspace>*{
    -webkit-transition:200ms ease-out all;
    -moz-transition:200ms ease-out all;
    -ms-transition:200ms ease-out all;
    transition:200ms ease-out all;
  }

  .workspace>*:nth-child(1){
    background: #fff;
    overflow-x: hidden;
    border-right: solid 1px #eee;
  }

  .workspace>*:nth-child(2){
    background: #fff;
    overflow-x: hidden;
  }

  .workspace>*:nth-child(3){
    background: #fff;
    overflow-x: hidden;
    border-left: solid 1px #eee;


  }

}