@media screen{

  .textarea{
    border: solid 1px #eee;
    background: #fff;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 3px;
  }
  .textarea textarea{
    border: none;
    padding: 6px;
    background: transparent;
    vertical-align: middle;
    width: 100%;
    background: transparent;
    resize: none;
    appearance: none;
    outline: none;
  }

  .textarea.no-border{
    border-color: transparent;
    background: transparent;
  }

  .textarea.invalid{
    border-color: red !important;
    background: #ffc9c3 !important;
  }

  /* READONLY */
  .textarea.readonly{
    background: transparent;
    border-color: transparent;
  }
  .textarea.readonly .icon{
    display: none;
  }

}