@media screen{
  
  *{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga", "kern";
    font-synthesis: none;
    text-rendering: optimizelegibility;
    color: rgb(77, 77, 77);
    line-height: 1.678em;
  }

  a{
    text-decoration: none;
    display: inline-block;
  }

  label{
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  h1, h2, h3, h4, h5{
    display: inline-block;
    font-weight: 100;
    margin: 0;
    padding: 6px;
  }
  h1, h1 *, .h1, .h1 *{
    font-size: 24px;
  }
  h2, h2 *, .h2, .h2 *{
    font-size: 21px;
  }
  h3, h3 *, .h3, .h3 *{
    font-size: 18px;
  }
  h4, h4 *, .h4, .h4 *{
    font-size: 16px;
  }
  h5, h5 *, .h5, .h5 *{
    font-size: 14px;
    text-transform: uppercase;
  }
  strong{
    font-weight: 600;
  }
  small{
    font-size: 13px;
  }

  span{
    display: inline-block;
  }

  ul{
    margin: 0;
    padding: 0;
  }
  li{
    list-style-type: none;
    margin: 0 0 0 10px;
    padding: 0;
  }
  
  body{
    overflow-x: hidden;
  }

  input[type="text"]{
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  b{
    font-weight: 700;
  }

  p{
    padding: 6px;
    margin: 0;
  }

  .pane{
    border-bottom: solid 1px #eee;
    background: #fff;
  }
  
  .off{
    display: none;
  }

  .hoverable{
    color: #ccc;
  }
  .hoverable:hover{
    color: #333;
  }

  .group-left{
    border-right: solid 1px #ddd !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .group-center{
    border-left: none !important;
    border-radius: 0 !important;
    border-right: solid 1px #ddd !important;
  }
  .group-right{
    border-left: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

}