@media screen{

  *{
    font-family: "Open Sans", Sans-Serif;
  }

  body{
    background: #f5f5f5;
  }

  .sidebar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #333;
  }
  .sidebar *{
    color: #eee;
  }

  .content{
    padding: 20px;
  }

  .proptable{
    border-collapse: collapse;
  }
  .proptable td{
    padding: 10px;
    border: solid 1px #f5f5f5;
  }

  .code{
    background: #f5f5f5;
    font-family: monospace;
    font-size: .9em;
  }

}