@media screen{

  .sidebar{
    width: 150px;
  }

  .content{
    margin-left: 150px;
    width: calc(100% - 150px);
  }

  body{
    background: #fff;
  }

  .properties{
    border-collapse: collapse;
  }

}